<footer class="footer-container row">
  <div class="footer-contenedorlogo d-flex flex-wrap align-items-center justify-content-center">
  <img class="footer-logo" src="../../../assets/images/logosololp01.png" alt="Logo">
  </div>
  <p class="footer-texto text-center">Intentando un portfolio<br>Vamos a ver que sale</p>
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
   <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-github"></i>
   </a>
   <a href="https://ar.linkedin.com/" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-linkedin"></i>
   </a>
   <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-instagram"></i>
   </a>
   <a href="mailto:luciapedrini@outlook.com" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-envelope"></i>
   </a>      
  </div>  
  <div class="copyright d-flex flex-wrap align-items-center justify-content-center">Creado por LuPe (2023) &#169;</div>   
</footer>
