<nav class="navbar navbar-expand-md navbar-dark ">
  <div class="container-fluid">
    <button class="navbar-toggler order-last" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand start" href="#">
      <img src="../../../assets/images/logosololp01.png" width="50" alt="Logo de la página">
      LuPe</a>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="iconos-redes-sociales">
          <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
           </a>
        </li>
        <li class="iconos-redes-sociales">
          <a href="https://ar.linkedin.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
           </a>
        </li>
        <li class="iconos-redes-sociales">
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
        </li>
        <li class="button-log">
          <button *ngIf="loginShow" type="button" class="btn btn-secondary">Login</button>
          <button *ngIf="!loginShow" type="button" class="btn btn-primary">Logout</button>
        </li>

      </ul>
    </div>
  </div>
</nav>