<div class="row row-sobremi align-items-center">
  <div class="container-hero col-3">
    <img class="hero-img rounded-circle" [src]="miPortfolio.profile_img" alt="Foto de Sasam" height="100px" >
    <h1>Soy {{miPortfolio.name}}</h1>
    <h2>mi titulo</h2>
    </div>
  <div class="container-texthero col-9">
    <h2 class="seccion-titulo">{{miPortfolio.name}}Sobre mí -Esto es una práctica-</h2>
    <p class="seccion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eos quaerat voluptas officia, 
      dicta repellendus blanditiis consequatur quasi placeat recusandae amet eum earum ipsa hic 
      quisquam, iste delectus voluptatibus veniam.</p>
  </div>
</div>
